.more-ot-alert {
    display: none;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 50%) 2px 2px 10px;
    background-color: #eee;
    border: 2px solid #000;
    height: 4em;
    width: 12rem;
    transform: translateZ(0);
    animation: move 0.4s ease 3;
    position: absolute;
    top: 15px;
    left: 92%;
    z-index: 55;
}

.more-ot-alert p {
    font: 16px Arial, sans-serif;
    line-height: 18px;
    line-height: 1.2rem;
    margin: auto;
    padding: 0.75rem;
    color: red;
}

.more-ot-alert::before {
    content: "";
    position: absolute;
    top: 24px;
    left: -15px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #000;
    display: block;
    width: 0;
    z-index: 1;
}

.more-ot-alert::after {
    content: "";
    position: absolute;
    top: 27px;
    left: -12px;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #eee;
    display: block;
    width: 0;
    z-index: 1;
}

.more-ot-alert .close-ot-alert {
    font-size: 15px;
    font-size: 1rem;
    clear: both;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: -55px;
}

.more-ot-alert .close-ot-alert i {
    color: #999;
}

.more-ot-alert .close-ot-alert i:hover {
    color: #c00;
}