#welcome,
#username {
  font-family: "Fredoka One", cursive;
  font-size: 45px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

button {
  font-family: poppins, sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  width: 50%;
  height: 45px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  margin-bottom: 25px;
}

button:hover {
  animation: scale-animation 0.5s linear;
}

@keyframes scale-animation {
  0%,
  50%,
  100% {
    transform: scale(1);
  }

  25%,
  75% {
    transform: scale(0.8, 1.2);
  }
}

@media screen and (1px <= width <=768px) {
  #col2 {
    display: none !important;
  }

  #welcome,
  #username {
    font-size: 2em !important;
  }
}
