#welcome,
#username {
  font-family: "Fredoka One", cursive;
  font-size: 45px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

button {
  font-family: poppins, sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  height: 45px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

button:hover {
  animation: scaleAnimation 0.5s linear;
}

@keyframes scaleAnimation {

  0%,
  50%,
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  25%,
  75% {
    transform: scale(0.8, 1.2);
    -webkit-transform: scale(0.8, 1.2);
    -moz-transform: scale(0.8, 1.2);
    -ms-transform: scale(0.8, 1.2);
    -o-transform: scale(0.8, 1.2);
  }
}

@media (max-width: 768px) {
  #col2 {
    display: none !important;
  }

  #welcome,
  #username {
    font-size: 2em !important;
  }
}