@import url("https://fonts.googleapis.com/css?family=Fredoka One");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%);
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80vw;
  height: 80vh;
  margin: auto;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  -ms-border-radius: 10;
  -o-border-radius: 10;
}

.show-me {
  display: block;
}


.more-ot-alert {
  display: none;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
  background-color: #eee;
  border: 2px solid #000;
  height: 4.2rem;
  width: 12rem;
  transform: translateZ(0);
  animation: move 0.4s ease 3;
  position: absolute;
  top: 38px;
  left: 62.5%;
  z-index: 55;
}

.more-ot-alert p {
  font: 16px Arial;
  line-height: 18px;
  line-height: 1.2rem;
  margin: auto;
  padding: 0.75rem;
  color: red;
}

.more-ot-alert:before {
  content: "";
  position: absolute;
  top: 24px;
  left: -15px;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #000;
  display: block;
  width: 0;
  z-index: 1;
}

.more-ot-alert:after {
  content: "";
  position: absolute;
  top: 27px;
  left: -12px;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #eee;
  display: block;
  width: 0;
  z-index: 1;
}

.more-ot-alert .close-ot-alert {
  font-size: 15px;
  font-size: 1rem;
  clear: both;
  cursor: pointer;
  float: right;
  margin: -5px -3px 0 0;
}

.more-ot-alert .close-ot-alert i {
  color: #999;
}

.more-ot-alert .close-ot-alert i:hover {
  color: #cc0000;
}

@keyframes move {
  50% {
    transform: translate(10px, 0);
  }
}


@media (max-width: 768px) {
  .container {
    height: 100vh;
    overflow: hidden;
  }

  .form-group {
    width: 100%;
  }

  img,
  .form-group i {
    display: none;
  }

  .form-group input {
    padding: 10px 10px;
    font-size: 14px;
  }
}