@import url('https://fonts.googleapis.com/css?family=Fredoka One');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #000;
    line-height: 1.6;
    display: flex;
}

.container {
    width: 100vw;
    height: 80vh;
    margin: auto;
}

img {
    width: 80%;
    height: 80%;
    display: block;
}

