h1 {
  font-family: "Fredoka One", cursive;
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

#form {
  padding-top: 35px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-group {
  padding-bottom: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-group label {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.form-group input {
  width: 80%;
  height: 100%;
  outline: none;
  border: 2px solid rgb(255 255 255 / 20%);
  border-radius: 40px;
  font-size: 16px;
  padding: 10px 45px 10px 20px;
}

.form-group i {
  position: absolute;
  right: 70px;
  top: 55%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #000;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 50px;
}

.remember-forgot a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

#form button {
  width: 50%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

#form button:hover {
  animation: a 0.5s 1 linear;
}

#form .register-link {
  padding-top: 20px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: #fff;
}

#form .register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

#form .register-link p a:hover {
  text-decoration: underline;
}

@keyframes a {
  0% {
    transform: scale(0.8, 1.2);
  }

  25% {
    transform: scale(1.2, 0.8);
  }

  50% {
    transform: scale(0.8, 1.2);
  }

  75% {
    transform: scale(1.2, 0.8);
  }

  100% {
    transform: scale(1, 1);
  }
}

@media (width <= 768px) {

  .form-group {
    width: 100%;
  }

  #col2,
  .form-group i {
    display: none !important;
  }

  .form-group input {
    padding: 10px;
    font-size: 14px;
    height: 30px;
  }
  .form-group label {
    font-size: 16px;
  }
}