#go-to-main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 10px;
  margin: 10px;
  color: #fff;
  width: 60px;
  height: 60px;
}

#go-to-main-menu i {
  font-size: 25px;
  cursor: pointer;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

#settings-form label {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

#analysis-report {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  text-align: center;
}

#analysis-report h2 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;

}

.close {
  width: 50px;
}

.modal-body-wrapper {
  overflow-y: scroll;
  height: 60vh;
  margin: auto;
  padding: 20px;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media print {
  #col2,
  #settings-form,
  #print-analyzes,
  #show-modal,
  #go-to-main-menu,
  h1 {
    display: none !important;
  }
}

button,
input {
  width: 40%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}



@media only screen and (width <= 768px) {
  #col2 {
    display: none !important;
  }

}