.modal-body-wrapper {
  overflow-y: scroll;
  height: 60vh;
  margin: auto;
  padding: 20px;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media print {

  #col2,
  #settingsForm,
  #printAnalyzes,
  #showModal,
  h1 {
    display: none !important;
  }
}