#goToMainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 10px;
  margin: 10px;
  color: #fff;
  width: 60px;
  height: 60px;
}

#goToMainMenu i {
  font-size: 25px;
  cursor: pointer;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Fredoka One", cursive;
}

input[type="text"]::placeholder {
  color: #000;
}

#wordSentence {
  width: 90%;
}

button {
  width: 50%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button:hover {
  animation: a 0.5s 1 linear;
}

input[type="text"]:focus {
  border: 2px solid #000;
}

#imagePreview {
  width: 100%;
  max-width: 150px;
}

@media (max-width: 768px) {
  .container {
    height: 100vh;
    overflow: hidden;
  }

  .form-group {
    width: 100%;
  }

  img,
  .form-group i {
    display: none;
  }

  .form-group input {
    padding: 10px 10px;
    font-size: 14px;
  }
}